.detailsOtherPet,
.detailsMyPet,
.deletePet,
.otherPet,
.myPet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsMyPet>p:nth-child(2),
.deletePet>p:nth-child(2),
.otherPet>p:nth-child(2),
.myPet>p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
}

textarea#description {
    height: 100px;
    resize: none;
}

.otherPet {
    align-items: inherit;
    width: 24%;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: -8px -2px 28px -8px #000000;
}

.detailsMyPet textarea,
.my-pets textarea {
    margin-bottom: 2rem;
}

.description {
    width: 17rem;
    height: 10vh;
    padding: 2rem;
    overflow: auto;
}

.details .petInformation img {
    height: 100%;
}

.petDescription {
    width: 30rem;
    height: 21rem;
    padding: 2rem;
    overflow: auto;
    text-align: justify;
    border: 1px skyblue solid;
}

.details {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.details .type {
    margin: 5px;
    font-size: 20px;
}

.details span.likes {
    display: flex;
    flex-direction: column;
}

.img {
    width: 15rem;
    height: 21rem;
    position: relative;
    overflow: hidden;
    padding: 0rem;
}

img {
    display: block;
    /* position: absolute; */
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    object-fit: fill;
}

.img::after {
    display: block;
    content: "";
    padding-top: 100%;
}

.button {
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    text-decoration: none;
    font-weight: bold;
    background: #136af8;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.fa-heart {
    color: red;
}

.deletePet>form,
.detailsMyPet>form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.actions {
    display: flex;
    position: absolute;
    bottom: 270px;
}

.hearts {
    width: 3rem;
}

.likes {
    display: flex;
}