    @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
    @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
    @import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
    .header {
        background-color: rgba(0, 0, 0, 0);
        background-repeat: repeat;
        background-size: auto;
        position: absolute;
        z-index: 999;
        width: 100%;
        left: 0;
        top: 0;
        padding: 0;
        padding-top: 0px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 80px;
    }
    
    .logo {
        float: left;
        position: relative;
        width: 40%;
        font-family: 'Smooch', cursive;
        font-size: 60px;
        padding-left: 30px;
        text-decoration: none;
    }
    
    .logo Link {
        text-decoration: none;
    }
    
    nav.mainMenu {
        float: right;
        margin-left: 0;
    }
    
    ul.top_icon {
        float: right;
        padding-top: 17px;
    }
    
    ul.top_icon li {
        float: left;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-right: 20px;
    }
    
    ul.top_icon li:last-child {
        padding-right: 0px;
    }
    
    ul.top_icon li a {
        color: #fff;
    }
    
    .menuAreaMain li:hover a,
    .menuAreaMain li:focus a {
        color: #081b30;
    }
    
    .menuAreaMain li.active a {
        color: #081b30;
    }
    
    .mainMenu ul>li nth:child(5) a {
        padding-right: 0px;
    }
    
    .right_cart_section {
        float: right;
        width: auto;
    }
    
    .right_cart_section ul {
        float: left;
        min-height: auto;
        margin: 0;
        padding: 12px 0 0;
    }
    
    .right_cart_section .cart_icons {
        padding: 18px 0 0;
    }
    
    .right_cart_section ul li {
        float: left;
        font-size: 17px;
        font-weight: 400;
        color: #fff;
        margin-right: 30px;
    }
    
    .right_cart_section ul.cart_update li {
        font-size: 13px;
        color: #ccc;
        line-height: normal;
        margin: 0;
        font-weight: 300;
    }
    
    .right_cart_section ul.cart_update li span {
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        line-height: 21px;
    }
    
    .right_cart_section ul li i {
        margin-right: 10px;
        margin-top: 5px;
        float: left;
        color: #fff;
        font-size: 21px;
    }
    
    .right_cart_section ul li a {
        color: #fff;
    }
    /*-- end header middle --*/
    
    .top-bar-info {
        background: #111111;
        padding: 5px 0px;
    }
    
    .top-menu-left {
        float: left;
    }
    
    .top-menu-left li {
        position: relative;
        display: inline-block;
        margin-right: 11px;
        padding-right: 12px;
    }
    
    .top-menu-left li::before {
        content: '';
        position: absolute;
        right: 0;
        top: 9px;
        height: 10px;
        border-right: 1px dotted #999;
    }
    
    .top-menu-left li:last-child::before {
        display: none;
    }
    
    .top-menu-left li:last-child {
        padding: 0px;
        margin: 0px;
    }
    
    .top-menu-left li a {
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .top-menu-left li a:hover {
        color: #38c8a8;
    }
    
    .right-dropdown-language {
        float: right;
        margin-left: 12px;
    }
    
    .dropdown-bar .dropdown-link {
        position: absolute;
        z-index: 1009;
        top: 40px;
        left: 0;
        right: auto;
        min-width: 50px;
        padding: 15px;
        background: #ffffff;
        list-style: none;
        border: 2px solid #38c8a8;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
        -o-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
        transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
        text-align: left;
    }
    
    .dropdown-bar:hover .dropdown-link {
        opacity: 1;
        visibility: visible;
        top: 25px;
    }
    
    .dropdown-bar.right-dropdown-language>a::after {
        font-family: 'FontAwesome';
        content: "\f107";
        text-decoration: none;
        padding-left: 4px;
        color: #ffffff;
    }
    
    .right-dropdown-language>a {
        line-height: 10px;
        padding: 5px 5px;
        cursor: pointer;
    }
    
    .dropdown-bar .dropdown-link li a {
        color: #111111;
        display: block;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 0;
    }
    
    .dropdown-bar .dropdown-link li a:hover {
        color: #38c8a8;
    }
    
    .dropdown-bar .dropdown-link li a img {
        margin-right: 7px;
    }
    
    .dropdown-bar .dropdown-link li.active {
        font-weight: bold;
    }
    
    .right-dropdown-language .dropdown-link {
        min-width: 100px;
        padding: 7px 10px;
        color: #111111;
    }
    
    .dropdown-bar {
        position: relative;
        padding: 0 5px;
        font-size: 13px;
    }
    
    .dropdown-bar .dropdown-link.right-sd {
        left: auto;
        right: 0;
    }
    
    .right-dropdown-currency {
        float: right;
        margin-left: 12px;
    }
    
    .dropdown-bar.right-dropdown-currency>a::after {
        font-family: 'FontAwesome';
        content: "\f107";
        text-decoration: none;
        padding-left: 4px;
        color: #ffffff;
    }
    
    .right-dropdown-currency>a {
        line-height: 10px;
        padding: 5px 5px;
        cursor: pointer;
        color: #ffffff;
    }
    
    .right-dropdown-currency .dropdown-link {
        min-width: 100px;
        padding: 7px 10px;
        color: #111111;
    }
    
    .right-dropdown-currency .dropdown-link {
        min-width: 55px;
        padding: 7px 10px;
    }
    
    .right-dropdown-currency .dropdown-link li a span.symbol {
        margin-right: 7px;
    }
    
    #login-modal .modal-content {
        border-radius: 0px;
    }
    
    #login-modal .modal-content .modal-header {
        background: #38c8a8;
        border-radius: 0;
    }
    
    #login-modal .modal-content .modal-body .form-group input {
        background: #ffffff;
        border: 1px solid #c8c8c8;
        border-radius: 0px;
    }
    
    #login-modal .modal-content .modal-body .form-group input:focus {
        border: 1px solid #c8c8c8 !important;
    }
    
    #login-modal .modal-content form {
        margin-bottom: 10px;
    }
    
    .modal-title {
        padding: 0px;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .btn-template-outlined {
        background: #111111;
        color: #ffffff;
        border: none;
        border-radius: 0px;
    }
    
    .btn-template-outlined i {
        padding-right: 10px;
    }
    
    .text-muted {
        padding: 10px 0px;
    }
    
    .slogan-line {
        float: right;
        color: #ffffff;
        font-size: 13px;
    }
    
    .middle-area {
        padding: 30px 0px;
    }
    
    .header-search {
        padding: 3px 0px;
    }
    
    .header-search form {
        position: relative;
        -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
    }
    
    .header-search .btn-group.bootstrap-select {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .header-search input {
        width: 100%;
        min-height: 45px;
        border-radius: 0px;
        border: none;
        padding-left: 15px;
        border: 1px solid #e0e7ed;
    }
    
    .header-search form .search-btn {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        color: #fff;
        font-size: 20px;
        padding: 4px 15px;
        border-radius: 0px;
        background-color: #38c8a8;
        cursor: pointer;
    }
    
    .header-search form .search-btn:hover {
        background: #111111;
    }
    
    .cart-box {
        float: right;
        margin-left: 10px;
        position: relative;
    }
    
    .cart-content-box {
        position: absolute;
        z-index: 1009;
        top: 40px;
        left: auto;
        right: 0;
        min-width: 250px;
        max-width: 250px;
        padding: 15px;
        background: #ffffff;
        list-style: none;
        border: 2px solid #38c8a8;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    
    .cart-box:hover .cart-content-box {
        opacity: 1;
        visibility: visible;
        top: 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    
    .inner-cart {
        background: #38c8a8;
        border-radius: 2px;
        padding: 0px;
        color: #ffffff;
        position: relative;
        width: 40px;
        height: 40px;
        text-align: center;
    }
    
    .cart-box .inner-cart:hover {
        color: #ffffff;
    }
    
    .line-cart {
        float: left;
        line-height: 40px;
        margin-right: 9px;
    }
    
    .cart-box a {
        display: inline-block;
    }
    
    .cart-box a:hover {
        color: #38c8a8;
    }
    
    .cart-box a span.icon {
        background: #38c8a8;
        width: 30px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        position: relative;
        border-radius: 2px;
    }
    
    .cart-box a .p-up {
        position: absolute;
        right: -8px;
        top: -8px;
        line-height: initial;
        background: #38c8a8;
        padding: 3px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        font-size: 12px;
        text-align: center;
        line-height: 10px;
    }
    
    .wish-box {
        float: right;
    }
    
    .wish-box a {
        display: inline-block;
    }
    
    .wish-box a:hover {
        color: #38c8a8;
    }
    
    .wish-box a span.icon {
        background: #38c8a8;
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        position: relative;
        border-radius: 2px;
    }
    
    .wish-box a span.icon:hover {
        background: #111111;
    }
    
    .cart-content-right {
        padding: 5px 0px;
    }
    
    .cart-content-box .items {
        text-align: center;
    }
    
    .product-media {
        width: 60px;
        float: left;
        position: relative;
    }
    
    .cart-content-box .items:hover .product-media::before {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    
    .product-media::before {
        position: absolute;
        content: '';
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #38c8a8;
        opacity: 0.4;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    
    .cart-content-box .items .item .remove {
        position: absolute;
        right: 0px;
        top: 0px;
        background: #38c8a8;
        color: #ffffff;
        width: 20px;
        height: 20px;
        line-height: 18px;
        border-radius: 2px;
    }
    
    .cart-content-box .items .item {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e0e7ed;
        position: relative;
    }
    
    .cart-content-box .items .item .product-info {
        padding-top: 10px;
        padding-left: 71px;
        text-align: left;
    }
    
    .cart-content-box .items .item .remove:hover {
        background: #111111;
    }
    
    .subtotal {
        text-align: left;
        text-transform: capitalize;
        color: #38c8a8;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .subtotal span {
        font-weight: bold;
        color: #111111;
        padding-left: 15px;
        float: right;
    }
    
    .actions .btn-process {
        padding: 5px 16px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        border-radius: 2px;
        overflow: hidden;
    }
    
    .actions .btn-process:hover {
        color: #ffffff;
    }
    
    .line-cart {
        position: relative;
    }
    
    .wish-box a span.icon span {
        position: absolute;
        right: -8px;
        top: -8px;
        line-height: initial;
        background: #38c8a8;
        padding: 3px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        font-size: 12px;
    }
    
    .mainMenu {
        text-align: center;
    }
    
    .mainMenu ul {
        margin: 0;
        list-style-type: none;
        margin-bottom: 10px;
    }
    
    .mainMenu ul>li {
        display: inline-block;
        position: relative;
    }
    
    .mainMenu ul>li a {
        line-height: 20px;
        font-size: 16px;
        display: block;
        font-weight: 500;
        color: #ccc;
        padding: 22px 20px;
        text-transform: uppercase;
    }
    
    .guestNavigation {
        display: flex;
    }
    
    .userNavigation {
        display: flex;
    }
    
    .userNavigation span {
        padding-top: 21px;
        color: #ccc;
    }
    
    .mainMenu ul>div li a {
        line-height: 20px;
        font-size: 16px;
        display: block;
        font-weight: 500;
        color: #ccc;
        padding: 22px 20px;
        text-transform: uppercase;
    }
    
    .mainMenu ul li:last-child a {
        padding-right: 30px;
    }
    
    .sub-down li {
        background: #ffffff;
    }
    
    .mainMenu ul>li .sub-down li a {
        color: #114c7d;
        font-size: 15px;
        text-transform: capitalize;
        font-weight: 300;
        padding: 12px 5px;
        position: relative;
        border-bottom: solid #eee 1px;
    }
    
    .mainMenu ul>li .sub-down li a:hover {
        color: #111111;
    }
    
    .mainMenu ul li:first-child {
        margin-left: 0;
    }
    
    .mainMenu ul>li>ul {
        opacity: 0;
        position: absolute;
        text-align: left;
        top: 100%;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        visibility: hidden;
        width: 240px;
        z-index: 999;
        background: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    
    .mainMenu>ul>li:hover>ul {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        visibility: visible;
        opacity: 1;
    }
    
    .mainMenu ul>li>ul>li {
        margin: 0px;
        position: relative;
        display: block;
    }
    
    .mainMenu ul>li>ul>li:hover>ul {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        visibility: visible;
        opacity: 1;
        left: 100%;
        top: 10px;
        color: #ffffff;
    }
    
    .mainMenu ul>li>ul>li>a {
        background: none !important;
    }
    
    .mean-container .mean-nav {
        margin-top: 0px;
        position: absolute;
        top: 100%;
    }
    
    .mainMenu ul>li {
        position: inherit;
        display: inline-block;
        vertical-align: middle;
    }
    
    .mainMenu ul>li a:hover {
        color: #111111;
    }
    
    .mainMenu ul>li:nth-child(6) {
        padding-right: 0px;
    }
    
    .nav>li {
        position: inherit;
        display: inline-block;
        vertical-align: middle;
    }
    
    .megamenu .sub-down {
        max-width: 1140px;
        width: 100%;
        left: 0;
        margin: 0 auto;
        right: 0;
        padding: 15px 0px;
    }
    
    .simple-down {
        padding: 15px;
    }
    
    .megamenu-categories {
        padding: 10px 0px;
    }
    
    .sub-full.megamenu-categories li {
        display: block;
    }
    
    .megamenu .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        font-size: 15px !important;
        font-weight: 500;
    }
    
    .sub-full.megamenu-categories ol li .category-title {
        padding: 15px 0px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .sub-full.megamenu-categories ol li .category-box a {
        padding: 5px 0px;
    }
    
    .menu-add {
        padding: 30px 15px;
    }
    
    .menu-add img {
        width: 100%;
    }
    
    .main-w img {
        width: 100%;
    }
    
    .women-box {
        position: relative;
    }
    
    .women-box::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
    }
    
    .banner-up-text {
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
        text-align: center;
    }
    
    .text-a {
        color: #fff;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 40px;
        font-weight: 700;
    }
    
    .text-b {
        color: #fff;
        font-size: 28px;
        text-transform: uppercase;
        line-height: 30px;
        padding: 20px 0px;
    }
    
    .text-c {
        color: #ffffff;
        font-size: 31px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 30px;
        padding-bottom: 20px;
    }
    
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        background: #111111;
        color: #ffffff !important;
        display: inline-block;
        padding: 10px 16px;
        border-radius: 2px;
        overflow: hidden;
        font-size: 16px;
    }
    
    .sticky-wrapper .sticky-wrapper-header {
        z-index: 20 !important;
        background: #ffffff;
    }
    
    .is-sticky .sticky-wrapper-header .middle-area {
        padding: 10px 0px
    }
    
    .sticky-wrapper:not(.is-sticky) {
        height: auto !important;
    }
    
    .hover-btn {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background: #111111;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    
    .hover-btn::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #38c8a8;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        display: block !important;
    }
    
    .hover-btn:hover::before,
    .hover-btn:focus::before,
    .hover-btn:active::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    .hover-btn:hover,
    .hover-btn:focus,
    .hover-btn:active {
        color: white;
        box-shadow: none;
    }
    
    .btn-secondary.focus,
    .btn-secondary:focus {
        box-shadow: none;
    }
    
    .img-responsive {
        max-width: 100%;
    }
    
    .padding_right_15_inner {
        padding-right: 15px;
    }
    
    .padding_left_15_inner {
        padding-left: 15px;
    }
    
    .dark_bg {
        background: #114c7d;
    }